@{
    ViewBag.Title = "Editare inregistrare";
    var emailRegex = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$";
}

<form id="saveRecord" name="saveRecord" class="edit-panel" onsubmit="editRecordController.validateAndSaveRecord();">
    <div id="generalInformation">
        <h3 class="details-header">Informatii generale inregistare</h3>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Numar inmatriculare: </label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="Numar inmatriculare" id="nrImatriculare" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Nume client</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="Nume client" id="clientName" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="email" placeholder="Email" type="email" pattern="@emailRegex" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Numar telefon</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="phoneNumber" type="tel" maxlength="10" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Tip inregistrare</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="Tip inregistrare" id="recordType" required>
                                        <option selected disabled hidden style='display: none' value=''></option>
                                        @foreach (var record in ViewBag.RecordTypes)
                                        {
                                            <option value="@record.Id" id="@record.Id">@record.TypeName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Tip vehicul</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="Tip vehicul" id="vehicleType" required>
                                        <option selected disabled hidden style='display: none' value=''></option>
                                        @foreach (var vehicle in ViewBag.VehicleTypes)
                                        {
                                            <option value="@vehicle.Id" id="@vehicle.Id">@vehicle.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Data expirare</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" autocomplete="off" placeholder="dd/MM/yyyy" id="expirationDate" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Informatii aditionale</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="3" autocomplete="off" id="additionalInfo">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <button type="button" id="btnInformCustomer" onclick="editRecordController.sendSMSMessageToCustomer()" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Trimite SMS informare</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Status anuntare client</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="Tip inregistarre" id="clientInformedStatus">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                        @foreach (var clientInformedStatus in ViewBag.ClientInformedStatueses)
                                        {
                                            <option value="@clientInformedStatus.Id" id="@clientInformedStatus.Id">@clientInformedStatus.StatusName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="saveButtons">
        <div class="col-sm-6 col-lg-6 col-md-6"></div>
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="btn-group right-side">
                <button type="submit" id="btnSaveRecord" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Salvare</button>
                <button type="submit" id="btnSaveRecordAndAddAnother" onclick="editRecordController.saveRecordAndAddNew();" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Salvare si reutilizare</button>
                <button type="button" onclick="editRecordController.cancelEdit();" id="btnCancelSaveDrive" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove"></span> Anulare</button>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/Pages/editRecordController.js"></script>